body {
  font-family: "Lato", sans-serif;
}
/*Main Menu Icon  */

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.9s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* sidenav */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .sideber-menu-icon {
  color: #f0b918;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}
/* top menu */

.top-menu-icon {
  font-size: 20px;
  cursor: pointer;
}

/* Main Menu */

.main-menu {
  margin: 0%;
  padding: 0%;
}
.main-menu ul li {
  margin: 0 5px 0px 5px;
}
.main-menu ul li a .fas {
  color: #f0b918;
}
.main-menu ul li:hover,
.main-menu ul li.current {
  background-color: #97781c;
  border-radius: 10px;
  color: #111;
}

/* .sidebar .nav li a:hover, .sidebar .nav li.current > a {
	background: #fff;
	color: #555;
   border-bottom:0px;
} */

.main-menu hr {
  margin: 0 5px 0px 5px !important;

  background-color: #816a25;
  border: 0;
  opacity: 0.5;
}

/* Dashboard */
.content {
  background-color: #f1f5f9;
}
.icon-big {
  font-size: 30px;
}
.full-card-border {
  border-radius: 15px !important;
}

.border-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.full-card-border h1 {
  font-size: 4vw;
}

/* log in  */

/* .full-login-body {
  background-image: url("images/xit-bannern.jpg");
  background-repeat: no-repeat;
  background-size: auto;
} */

.full-login-body {
  padding: 10px;
  background-color: #f1f5f9;
}
.login-row {
  border-radius: 20px;
  background-color: white;
}
.login-left {
  background-image: url("images/express-background-vector.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin-left: 10px;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

/* Style the active class, and buttons on mouse-over */
.active {
  background: #f1ba19;
  overflow: hidden;
}
.active a {
  color: white;
}

.borderless {
  margin-bottom: 0 !important;
}

.borderless td,
.borderless th {
  border: none;
  padding: 2px !important;
}
